In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("routes.txt",header=0,names = ["Airline","Airline ID","Source airport","Source airport ID", 
                                                "Destination airport","Destination airport ID","Codeshare", "Stops", "Equipment"])

In [3]:
df.drop(['Codeshare','Equipment'], axis=1,inplace=True)

In [ ]:
df = df.dropna(how = "fail")

In [4]:
val = []
count = 0
for row in df.index:
    #print(row, "this is row")
    for element in range(len(df.iloc[row])):
        x = str(df.iloc[row][element])
        if (x == "fail"):
            val.append(row)
df = df.drop(index = val)
print(df, "This is df")

      Airline Airline ID Source airport Source airport ID Destination airport  \
0          2B        410            ASF              2966                 KZN
1          2B        410            ASF              2966                 MRV
2          2B        410            CEK              2968                 KZN
3          2B        410            CEK              2968                 OVB
4          2B        410            DME              4029                 KZN
...       ...        ...            ...               ...                 ...
67657      ZL       4178            WYA              6334                 ADL
67658      ZM      19016            DME              4029                 FRU
67659      ZM      19016            FRU              2912                 DME
67660      ZM      19016            FRU              2912                 OSS
67661      ZM      19016            OSS              2913                 FRU

      Destination airport ID  Stops
0                       2990      0
1                       2962      0
2                       2990      0
3                       4078      0
4                       2990      0
...                      ...    ...
67657                   3341      0
67658                   2912      0
67659                   4029      0
67660                   2913      0
67661                   2912      0

[66764 rows x 7 columns] This is df

In [5]:
val = []
count = 0
count += 1
for row in df.index:
    insert = (count, str(df["Airline"][row]), int(df["Airline ID"][row]), str(df["Source airport"][row]), int(df["Source airport ID"][row]), 
             str(df["Destination airport"][row]), int(df["Destination airport ID"][row]), int(df["Stops"][row]))
    val.append(insert)
print(val)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [13]:
df.to_csv("routes_parsed.csv",index=False, header = False)