In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("airports.txt",header=0,names = ["Airport Index","Airport Name","City","Country","IATA", "ICAO","Latitude","Longitude","Altitude", 
                                                "Timezone","DST","TZ Database time zone","Type","Source"])

In [3]:
#print(df.columns)
print(df.iloc[0], "This is the first row")
print(df.iloc[1], "This is the first row")

Airport Index                               2
Airport Name                   Madang Airport
City                                   Madang
Country                      Papua New Guinea
IATA                                      MAG
ICAO                                     AYMD
Latitude                             -5.20708
Longitude                          145.789001
Altitude                                   20
Timezone                                   10
DST                                         U
TZ Database time zone    Pacific/Port_Moresby
Type                                  airport
Source                            OurAirports
Name: 0, dtype: object This is the first row
Airport Index                                       3
Airport Name             Mount Hagen Kagamuga Airport
City                                      Mount Hagen
Country                              Papua New Guinea
IATA                                              HGU
ICAO                                             AYMH
Latitude                                     -5.82679
Longitude                                  144.296005
Altitude                                         5388
Timezone                                           10
DST                                                 U
TZ Database time zone            Pacific/Port_Moresby
Type                                          airport
Source                                    OurAirports
Name: 1, dtype: object This is the first row

In [4]:
df.drop(["Latitude","Longitude", "Altitude", "Source", "Type"], axis=1,inplace=True)

In [8]:
val = []
count = 0
for row in df.index:
    insert = (str(df["Airport Index"][row]), df["Airport Name"][row], df["City"][row], df["Country"][row], 
             df["IATA"][row], df["ICAO"][row], df["Timezone"][row], df["DST"][row], df["TZ Database time zone"][row])
    val.append(insert)
    count += 1
print(val[0])

(2, 'Madang Airport', 'Madang', 'Papua New Guinea', 'MAG', 'AYMD', '10', 'U', 'Pacific/Port_Moresby')

In [25]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="test1234",
  database="database1"
)

In [26]:
mycursor = mydb.cursor()

sql = "INSERT INTO database1.Airports (AirportID, Name, City, Country, IATA, ICAO, TimeZone, DST, TZ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")
mydb.close()

7697 was inserted.