In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("airports.txt",header=0,names = ["Airport Index","Airport Name","City","Country","IATA", "ICAO","Latitude","Longitude","Altitude", 
                                                "Timezone","DST","TZ Database time zone","Type","Source"])

In [3]:
#print(df.columns)
print(df.iloc[0], "This is the first row")
print(df.iloc[1], "This is the first row")

Airport Index                               2
Airport Name                   Madang Airport
City                                   Madang
Country                      Papua New Guinea
IATA                                      MAG
ICAO                                     AYMD
Latitude                             -5.20708
Longitude                             145.789
Altitude                                   20
Timezone                                   10
DST                                         U
TZ Database time zone    Pacific/Port_Moresby
Type                                  airport
Source                            OurAirports
Name: 0, dtype: object This is the first row
Airport Index                                       3
Airport Name             Mount Hagen Kagamuga Airport
City                                      Mount Hagen
Country                              Papua New Guinea
IATA                                              HGU
ICAO                                             AYMH
Latitude                                     -5.82679
Longitude                                     144.296
Altitude                                         5388
Timezone                                           10
DST                                                 U
TZ Database time zone            Pacific/Port_Moresby
Type                                          airport
Source                                    OurAirports
Name: 1, dtype: object This is the first row

In [4]:
df.drop(["Latitude","Longitude", "Altitude", "Source", "Type"], axis=1,inplace=True)

In [48]:
val = [(1,"Goroka Airport","Goroka","Papua New Guinea","GKA","AYGA", "10" ,"U","Pacific/Port_Moresby")]
count = 0
for row in df.index:
    insert = (int(df["Airport Index"][row]), str(df["Airport Name"][row]), str(df["City"][row]), str(df["Country"][row]), 
             str(df["IATA"][row]), str(df["ICAO"][row]), str(df["Timezone"][row]), str(df["DST"][row]), str(df["TZ Database time zone"][row]))
    val.append(insert)
    count += 1
    
print(val[0], len(val[0]))
print(val[1], len(val[1]))

(1, 'Goroka Airport', 'Goroka', 'Papua New Guinea', 'GKA', 'AYGA', '10', 'U', 'Pacific/Port_Moresby') 9
(2, 'Madang Airport', 'Madang', 'Papua New Guinea', 'MAG', 'AYMD', '10', 'U', 'Pacific/Port_Moresby') 9

In [43]:
import mysql.connector

In [44]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Risha1234$",
  database="CS411DB"
)

In [47]:
mydb.close()

In [45]:
mycursor = mydb.cursor()

sql = "INSERT INTO CS411DB.Airports (AirportID, Name, City, Country, IATA, ICAO, TimeZone, DST, TZ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")
mydb.close()

7698 was inserted.