In [43]:
import pandas as pd
import numpy as np

In [44]:
df = pd.read_csv("routes.txt",header=0,names = ["Airline","Airline ID","Source airport","Source airport ID", 
                                                "Destination airport","Destination airport ID","Codeshare", "Stops", "Equipment"])

In [45]:
df.drop(['Codeshare','Equipment'], axis=1,inplace=True)

In [46]:
df=df.replace('fail',np.nan).dropna(axis = 0, how = 'any')

In [47]:
val = []
count = 0
for row in df.index:
    insert = (count, str(df["Airline"][row]), int(df["Airline ID"][row]), str(df["Source airport"][row]), int(df["Source airport ID"][row]), 
             str(df["Destination airport"][row]), int(df["Destination airport ID"][row]), int(df["Stops"][row]))
    count += 1
    val.append(insert)

In [48]:
print(val[0])

(0, '2B', 410, 'ASF', 2966, 'KZN', 2990, 0)

In [61]:
import mysql.connector

In [62]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Risha1234$",
  database="CS411DB"
)

In [60]:
mydb.close()

In [63]:
mycursor = mydb.cursor()

sql = "INSERT INTO CS411DB.Routes(RouteID, Airline, AirlineID, Source, SourceID, Destination, DestinationID, Stops) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")
mydb.close()

66764 was inserted.